
.products{
    background-color:#d4b08f ;
}




.products img{
    width: 95%;
    height: 15rem;
    border-radius: 10px;
    display: block;
    padding-right: 10px;
    position: relative;
    top: 20px;
    left: 10px;
}




